.header-top {
  padding: 10px;
  height: auto;
  font-family: 'Impact';
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  background: black;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: white;
}

.topWrapper {
  height: 500px;
  width: auto;
  background-image: url(image/top-image.png);
  position: relative;
}

.vr-man {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wf-sawarabigothic {
  font-family: "Sawarabi Gothic";
}

.subsection {
  height: auto;
  padding: 10px;
  justify-content: center;
}

.subsection-text {
  width: auto;
  background-color: white;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
}

.profileIcon {
  padding: 50px 0px;
  float: left;
  background-color: black;
}

.topImg {
  width: 50%;
}

.subsection {
  display: flex;
  justify-content: center;
}

.mainWrapper {
  background-color: #E6E6E6;
  padding: 20px 0;
}

.profileTop {
  text-align: center;
}

.profileBox {
  padding: 0px;
  text-align: center;
}

.tools {
  background-color: white;
  padding: 10px;
  width: auto;
  height: auto;
}

.work-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px;
}

.worktop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.work-container {
  padding: 10px;
  margin: 10px;
  width: 320px;
  height: auto;
  background-color: white;
  box-shadow: 2px 2px 4px;
  border-radius: 10px;
}

.work-container img {
  width: 100%;
}

.work-container a {
  text-decoration: none;
}

.footer-container {
  background-color: #2E2E2E;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.footer-container a {
  text-decoration: none;
  color: white;
  line-height: 0px;
}
